
/* Option Part */
.group{
    width:100%;

    display:grid;

    grid-template-rows:repeat(2,minmax(170px,170px));

    justify-content:center;

    gap:80px;

    margin:80px auto;

    padding:0 60px;

    box-sizing:border-box;
}

.option a{
    text-decoration: none;
    Color:black;
}
.option{
    width:570px;

    height:170px;

    border-radius:1%;

    background:#e7e1e1;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:18px;

    box-sizing:border-box;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    transition:.3s;
}

.option:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.25);
}
